@{
    ViewData["Title"] = "Teacher Page";
}

@section Scripts {
    <script src="~/js/teacher.js"></script>
    <script src="~/js/editer.js"></script>
}

@model Problem

<div class="register-card">
    <h2>問題編集ページ</h2>
    <form asp-controller="Problem" asp-action="Edit" method="post">
        <input type="hidden" name="SerialNumber" value="@Model.SerialNumber" />

        <div class="modern-input">
            <label for="IdNumber">問題ID</label>
            <input asp-for="IdNumber" class="modern-control" />
            <span asp-validation-for="IdNumber" class="form-text"></span>
        </div>

        <div class="score-input-group">
            <label for="difficulty">難易度</label>
            <input asp-for="difficulty" class="modern-score-input" />
            <span class="unit">（A~E）</span>
        </div>

        <div class="modern-input">
            <label for="category">カテゴリ</label>
            <input asp-for="category" class="modern-control" />
        </div>

        <div class="modern-input">
            <label for="ProblemLatex">問題（LaTeX）</label>
            <textarea asp-for="ProblemLatex" id="latexInput1" rows="6" class="modern-control"></textarea>
        </div>

        <div style="margin-bottom: 20px;">
            <button class="send" type="button" id="previewBtn1">プレビューする</button>
            <div id="mathPreview1" class="latex">ここに数式が表示されます</div>
        </div>

        <div style="margin-bottom: 20px;">
            <button class="send" type="button" id="uploadImageToProblemBtn">問題に画像を挿入する</button>
        </div>

        <div class="modern-input">
            <label for="AnswerLatex">答え（LaTeX）</label>
            <textarea asp-for="AnswerLatex" id="latexInput2" rows="6" class="modern-control"></textarea>
        </div>

        <div style="margin-bottom: 20px;">
            <button class="send" type="button" id="previewBtn2">プレビューする</button>
            <div id="mathPreview2" class="latex">ここに数式が表示されます</div>
        </div>

        <div style="margin-bottom: 20px;">
            <button class="send" type="button" id="uploadImageToAnswerBtn">答えに画像を挿入する</button>
        </div>

        <div class="modern-input">
            <label for="teacherNameInput">先生</label>
            <input asp-for="Teacher" name="Teacher" id="teacherNameInput" class="modern-control" />
        </div>

        <div class="checkBoxes" style="margin-bottom: 20px;">
            <label for="isPublicToggle" style="margin-left: 10px;">公開状態</label>
            <input type="checkbox" asp-for="IsPublic" id="isPublicToggle" />
            <span id="publicStatusLabel" style="margin-left: 10px;">
                @(Model.IsPublic ? "公開中" : "非公開")
            </span>
        </div>

        <div class="ans-but">
            <span id="autosaveStatus" style="margin-right: auto; color: gray; font-size: 0.9em;"></span>
            <button class="send" type="submit">この内容に編集する</button>
        </div>
    </form>
</div>
