@{
    ViewData["Title"] = "Teacher Page";
}

@section Scripts {
    <script src="~/js/teacher.js"></script>
}

@model Problem

<div class="register-card">
    <h2>新しい問題の登録</h2>
    <form asp-controller="Problem" asp-action="SaveProb" method="post">
        <div class="modern-input">
            <label for="IdNumber">問題ID</label>
            <input asp-for="IdNumber" class="modern-control" />
            <span asp-validation-for="IdNumber" class="form-text"></span>
        </div>

        <div class="score-input-group">
            <label for="difficulty">難易度</label>
            <select asp-for="difficulty" class="modern-control"> 
                <option value="A">A</option> 
                <option value="B">B</option> 
                <option value="C">C</option> 
                <option value="D">D</option> 
                <option value="D+">D+</option> 
            </select>
            <span class="unit">（A~D+）</span>
        </div>

        <div class="modern-input">
            <label for="category">カテゴリ</label>
            <select asp-for="category" asp-items="ViewBag.CategoryList" class="modern-control"></select>
        </div>

        <div class="modern-input">
            <label for="ProblemLatex">問題（LaTeX）</label>
            <textarea asp-for="ProblemLatex" id="latexInput1" rows="6" class="modern-control"></textarea>
        </div>

        <div style="margin-bottom: 20px;">
            <button class="send" type="button" id="previewBtn1">プレビューする</button>
            <div class="latex" id="mathPreview1">ここに数式が表示されます</div>
        </div>

        <div class="modern-input">
            <label for="AnswerLatex">答え（LaTeX）</label>
            <textarea asp-for="AnswerLatex" id="latexInput2" rows="6" class="modern-control"></textarea>
        </div>

        <div style="margin-bottom: 20px;">
            <button class="send" type="button" id="previewBtn2">プレビューする</button>
            <div class="latex" id="mathPreview2">ここに数式が表示されます</div>
        </div>

        <div class="modern-input">
            <label for="Teacher">先生</label>
            <input asp-for="Teacher" class="modern-control" />
        </div>

        <div class="ans-but">
            <button class="send" type="submit">保存</button>
        </div>
    </form>
</div>
