@{
    ViewData["Title"] = "Privacy Policy";
}

@model LoginViewModel

<div style="padding:30px;">
    <p class="tst">こんにちは！数学の源泉運営チームです。このサイトは大学受験を控える受験生のために幅広く数学の問題を扱うサイトとなっております。
        問題は運営メンバーの独断と偏見で5段階で難易度を表しており難易度のイメージは以下の通りです。
    </p>
    <div class="acc que">
        <img src="\img\mathimg2.png">
    </div>

    <div style="max-width: 600px;">
        <form method="post" asp-controller="Account" asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group modern-input">
                <label for="mailaddress"><i class="fas fa-envelope"></i> ユーザーID（メールアドレス）</label>
                <input type="email" id="mailaddress" asp-for="MailAddress" required class="form-control modern-control" />
            </div>

            <div class="form-group modern-input">
                <label for="password"><i class="fas fa-lock"></i> パスワード</label>
                <input type="password" id="password" asp-for="Password" required class="form-control modern-control" />
            </div>


            <button type="submit" class="send">ログインする</button>
        </form>
        <br>
        <a asp-area="" asp-controller="Account" asp-action="NewUser">新規会員登録はこちら</a>
    </div>
    
</div>