@{
    ViewData["Title"] = "Login Page";
}
@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

@model LoginViewModel

<div style="padding:30px;">
    <div style="max-width: 600px;">
        <form method="post" asp-controller="Account" asp-action="Login">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group modern-input">
                <label for="mailaddress"><i class="fas fa-envelope"></i> ユーザーID（メールアドレス）</label>
                <input type="email" id="mailaddress" asp-for="MailAddress" required class="form-control modern-control" />
            </div>

            <div class="form-group modern-input">
                <label for="password"><i class="fas fa-lock"></i> パスワード</label>
                <input type="password" id="password" asp-for="Password" required class="form-control modern-control" />
            </div>

            <div style="text-align: right;">
                <button type="submit" class="send">ログインする</button>
            </div>
        </form>
        <br>
        <a asp-area="" asp-controller="Account" asp-action="NewUser">新規会員登録はこちら</a>
    </div>
    
</div>