@{
    ViewData[index: "Title"] = "My Page";
}

@model UserViewModel

<div class="user-profile">
    <h2>マイページ</h2>
    <ul>
        <li><strong>ユーザーID:</strong> @Model.UserId</li>
        <li><strong>ユーザー名:</strong> @Model.UserName</li>
        <li><strong>ロール:</strong> @Model.Role</li>
        <li><strong>累計スコア:</strong> @Model.TotalScores</li>
    </ul>
</div>
