@{
    ViewData["Title"] = "NewUser Page";
}

<div class="register-card">
    <h2><i class="fas fa-user-plus"></i> 新規登録</h2>
    <form method="post" action="/Account/Register">
        <div class="form-group modern-input">
            <label for="mailaddress"><i class="fas fa-envelope"></i> メールアドレス</label>
            <input type="email" id="mailaddress" name="mailaddress" class="form-control modern-control" required />
            <small class="form-text text-muted">※メールアドレスはログイン時のユーザーIDとなります。</small>
        </div>

        <div class="form-group modern-input">
            <label for="username"><i class="fas fa-user"></i> ユーザー名</label>
            <input type="text" id="username" name="username" class="form-control modern-control" required />
        </div>

        <div class="form-group modern-input">
            <label for="password"><i class="fas fa-lock"></i> パスワード</label>
            <input type="password" id="password" name="password" class="form-control modern-control" required />
        </div>

        <div class="form-group modern-input">
            <label for="ConfirmPassword"><i class="fas fa-lock"></i> パスワード確認</label>
            <input type="ConfirmPassword" id="ConfirmPassword" name="ConfirmPassword" class="form-control modern-control" required />
        </div>

        <div class="form-group modern-input">
            <label for="role"><i class="fas fa-user-tag"></i> 区分</label>
            <select id="role" name="role" class="form-control modern-control">
                <option value="Student">学生</option>
            </select>
        </div>

        <div class="form-group modern-input">
            <label for="grade"><i class="fas fa-school"></i> 学年</label>
            <select class="form-control modern-control" id="grade" name="grade" required>
                <option value="">選択してください</option>
                <option value="中学生">中学生</option>
                <option value="高校1年生">高校1年生</option>
                <option value="高校2年生">高校2年生</option>
                <option value="高校3年生">高校3年生</option>
                <option value="浪人生">浪人生</option>
                <option value="大学生以上">大学生以上</option>
            </select>
        </div>

        <div class="form-group text-end">
            <button type="submit" class="send">登録する</button>
        </div>
    </form>
</div>
<br>