@{
    ViewData["Title"] = "Answer Page";
}

<p>@ViewBag.Message 番の解答を送信する</p>
<div class="all">
@if (User.Identity != null && User.IsInRole(role: "Student"))
    {
        <form asp-controller="Home" asp-action="SubmitAnswer" method="post">
            <input type="hidden" name="problemId" value="@ViewBag.Message" />
            <input type="hidden" name="answer" value="テスト解答" />
            <button class="send" type="submit">解答しました</button>
        </form>
    }
</div>