@{
    ViewData["Title"] = "Teacher Page";
}

@section Scripts {
    <script src="~/js/teacher.js"></script>
}

@model TeacherViewModel

<div style="padding:30px;">
    <p class="tst">こちらは教師専用ページです。</p><br>
    <p>現在データベースに登録されてる問題数は @Model.ProblemsCount です。</p>

    <a class="nav-link text-dark" asp-area="" asp-controller="Problem" asp-action="SaveProblem">
        <button class="send">問題を投稿する</button>
    </a>
</div>
