@{
    ViewData["Title"] = "Teacher Page";
}

@model TeacherViewModel

<div style="padding:30px;">
    <p class="tst">こちらは教師専用ページです。</p><br>
    <p class="tst">現在データベースに登録されてる問題は @Model.ProblemsCount 問です。</p>

    @foreach (var pair in Model.FieldCounts ?? new Dictionary<string, int>())
    {
        <p>@pair.Key の問題は @pair.Value 問です。</p>
    }

    <a class="nav-link text-dark" asp-area="" asp-controller="Problem" asp-action="SaveProblem">
        <button class="send">問題を投稿する</button>
    </a>
</div>
