@{
    ViewData[index: "Title"] = "Test Page";
}
@section Scripts {
    <script src="~/js/test.js"></script>
    <script>
        window.currentUserRole = "@User.FindFirst("http://schemas.microsoft.com/ws/2008/06/identity/claims/role")?.Value";
        window.currentStudentId = "@User.FindFirst("StudentId")?.Value";
    </script>

}

<div id="problemContainer"></div>
<button id="loadMore">もっと見る</button>