@{
    ViewData[index: "Title"] = "Test Page";
}
@section Scripts {
    <script src="~/js/test.js"></script>
    <script>
        window.currentUserRole = "@User.FindFirst("http://schemas.microsoft.com/ws/2008/06/identity/claims/role")?.Value";
        window.currentStudentId = "@User.FindFirst("StudentId")?.Value";
    </script>

}

<div style="display: flex; justify-content: flex-end; align-items: flex-start;">
    <button id="toggleButton">
        <img src="\img\srcbut.png"  class="fil">
    </button>
    <div class="checkBoxes">
        <div id="checkboxContainer1" class="che">
            <label>分野</label><br>
            <label><input type="checkbox" name="field1" value="場合の数"> 場合の数</label><br>
            <label><input type="checkbox" name="field1" value="確率"> 確率</label><br>
            <label><input type="checkbox" name="field1" value="微積"> 微積</label><br>
            <label><input type="checkbox" name="field1" value="整数"> 整数</label><br>
            <label><input type="checkbox" name="field1" value="極限"> 極限</label><br>
            <label><input type="checkbox" name="field1" value="数列"> 数列</label><br>
            <label><input type="checkbox" name="field1" value="幾何学"> 幾何学</label><br>
            <label><input type="checkbox" name="field1" value="all" checked> すべて表示</label>
        </div>
        <div id="checkboxContainer2" class="che">
            <label>難易度</label><br>
            <label><input type="checkbox" name="field2" value="A"> A</label><br>
            <label><input type="checkbox" name="field2" value="B"> B</label><br>
            <label><input type="checkbox" name="field2" value="C"> C</label><br>
            <label><input type="checkbox" name="field2" value="D"> D</label><br>
            <label><input type="checkbox" name="field2" value="E"> E</label><br>
            <label><input type="checkbox" name="field2" value="all" checked> すべて表示</label>
        </div>
    </div>
</div>

<div id="problemContainer"></div>
